<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper namespce 는 Mapper.java 의 패키지를 따라 간다  -->	
<mapper	namespace="egovframework.buzz.domain.member.MemberMapper">
	<select id="memberList"  resultType="java.util.HashMap">
		SELECT 	LOGIN_ID,
				LOGIN_PASS 
		FROM 	MEMBER		
	</select>
	
	<select id="errorMemberList"  resultType="java.util.HashMap">
		SELECT 	LOGIN_ID,
				LOGIN_PASS 
		FROM 	MEMBER_ERROR		
	</select>
	
	<insert id="insertDemo" parameterType="java.util.HashMap">
		INSERT INTO DEMOTRAN(NAME)
		VALUES (#{name})				
	</insert>
	
	
</mapper>
	